---
import Section from "@components/Section.astro";
---

<Section class="items-center reveal" id="about_me">
  <div class="flex w-4/6 flex-col gap-8">
    <h2 class="text-theme-primary text-5xl font-bold tracking-tight mb-4">
      Sobre Mi
    </h2>
    <p class="text-xl">
      Hola, soy <span class="text-theme-primary text-shadow-2xs">Andres</span>.
      Soy un apasionado desarrollador web con más de 5 años de experiencia. Mi
      objetivo no es solo escribir código funcional, sino también construir
      productos que la gente ame usar.
    </p>
    <p class="text-xl">
      Me encanta desentrañar problemas de lógica complejos y optimizar el
      rendimiento. Creo que una buena comunicación es la clave del éxito de un
      proyecto, y siempre estoy ansioso por aprender nuevas tecnologías y
      mejorar mis habilidades.
    </p>
    <p class="text-xl">
      Cuando no estoy programando, me encontrarás explorando rutas de
      senderismo, experimentando con nuevas recetas de café o contribuyendo a
      proyectos de código abierto.
    </p>
  </div>
  <div class="w-2/6 flex justify-center items-center">
    <div
      class="rounded-full border-4 ring-1 ring-gray-800 p-8 flex justify-center items-center bg-gray-900"
    >
      <img src="/logo.png" alt="andres jurado logo" class="size-60" />
    </div>
  </div>
</Section>
