---
import Button from "@components/Button.astro";
import Section from "@components/Section.astro";
---

<section class="flex flex-col items-center gap-8 mb-28 reveal" id="contact">
  <h2 class="text-theme-primary text-5xl font-bold tracking-tight mb-4">
    ¿Interesado?
  </h2>
  <p class="text-gray-500 text-center w-1/2 text-xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi officia
    voluptatum quae doloribus suscipit, delectus reiciendis pariatur fugit?
    Ducimus libero voluptatibus, nobis sit hic optio recusandae suscipit sequi
    nemo.
  </p>
  <Button size="xl" variant="primary">Enviame un mensaje</Button>
</section>
