---
import "@styles/main.css";

const TITLE = "Andres Jurado - Desarrollador Web";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{TITLE}</title>
  </head>
  <body class="leading-relaxed">
    <div id="custom-cursor"></div>
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  import { cursorPointer } from "@scripts/cursor";
  import { scrollObserver } from "@scripts/scrollObserver";
  import { scrollSpyNav } from "@scripts/scrollSpyNav";

  const __init__ = () => {
    cursorPointer();
    scrollObserver();
    scrollSpyNav();
  };

  document.addEventListener("DOMContentLoaded", __init__);
</script>
